# Chipo

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [5]:
# per i file .tsv bisogna mettere l'opzione sep='\t'
chipo = pd.read_csv(url, sep='\t')

In [7]:
# ispeziono le prime 10 righe del dataset
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [12]:
# Lunghezza dell'intero dataframe - mia soluzione - TODO: chiedere a Stefano perché non viene proposta come soluzione!!!
lunghezza_dataframe = len(chipo)
print("Il dataframe è lungo = ",lunghezza_dataframe, " righe")

Il dataframe è lungo =  4622  righe

In [15]:
# Lunghezza dell'intero dataframe - prima soluzione con shape
lunghezza_dataframe_con_shape = chipo.shape[0];
lunghezza_dataframe_con_shape

4622

In [16]:
# Lunghezza dell'intero dataframe - seconda soluzione
lunghezza_dataframe_con_info = chipo.info()
lunghezza_dataframe_con_info

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [17]:
# Numero delle colonne dell'intero datasets
numero_delle_colonne = chipo.shape[1]
numero_delle_colonne

5

In [18]:
# Nome di tutte le colonne
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [19]:
for nome_colonna in chipo.columns:
    print(nome_colonna)

order_id
quantity
item_name
choice_description
item_price

In [20]:
# verifica se datasets indicizzato
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [34]:
# l'articolo del datasets più ordinato
most_ordered_items = chipo.groupby('item_name')

In [35]:
most_ordered_items

In [36]:
most_ordered_items = most_ordered_items.sum()

In [37]:
most_ordered_items

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [38]:
most_ordered_items = most_ordered_items.sort_values(['quantity'], ascending=False)

In [40]:
most_ordered_items

                                       order_id  quantity
item_name
Carnitas Salad                             1500         1
Veggie Crispy Tacos                         668         1
Chips and Mild Fresh Tomato Salsa           279         1
Crispy Tacos                                434         2
Salad                                      1150         2
Bowl                                        472         4
Steak Salad                                2362         4
Veggie Salad                               7265         6
Carnitas Salad Bowl                        6693         6
Burrito                                    1550         6
Carnitas Crispy Tacos                      5868         8
Veggie Soft Tacos                          5520         8
Chicken Salad                             10465         9
Barbacoa Salad Bowl                        9708        10
Barbacoa Crispy Tacos                      5613        12
Veggie Salad Bowl                         17303        18
Chips and Roasted Chili-Corn Salsa        17462        18
Izze                                      10587        20
Chips and Roasted Chili Corn Salsa        14999        23
Barbacoa Soft Tacos                       18725        25
Chips and Tomatillo-Red Chili Salsa       18344        25
Nantucket Nectar                          21814        29
Steak Salad Bowl                          29590        31
Chips and Tomatillo-Green Chili Salsa     21826        33
Steak Crispy Tacos                        35818        36
Carnitas Soft Tacos                       37673        40
Chips and Tomatillo Green Chili Salsa     41170        45
Chicken Crispy Tacos                      47382        50
Chips and Tomatillo Red Chili Salsa       45556        50
6 Pack Soft Drink                         52322        55
Steak Soft Tacos                          50177        56
Carnitas Burrito                          51652        60
Barbacoa Bowl                             53972        66
Carnitas Bowl                             62742        71
Veggie Bowl                               72270        87
Barbacoa Burrito                          74718        91
Veggie Burrito                            80962        97
Side of Chips                             84769       110
Chicken Soft Tacos                        98395       120
Chicken Salad Bowl                       117104       123
Canned Soda                               76396       126
Chips and Fresh Tomato Salsa             100419       130
Bottled Water                            175944       211
Steak Bowl                               193752       221
Chips                                    208004       230
Canned Soft Drink                        304753       351
Steak Burrito                            328437       386
Chips and Guacamole                      449959       506
Chicken Burrito                          497303       591
Chicken Bowl                             713926       761

In [42]:
most_ordered_items.head(1)

                order_id  quantity
item_name
Carnitas Salad      1500         1

In [43]:
# l'articolo del datasets più ordinato
most_ordered_items = chipo.groupby('item_name')
most_ordered_items = most_ordered_items.sum()
most_ordered_items = most_ordered_items.sort_values(['quantity'], ascending=False)
most_ordered_items.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [44]:
# per l'articolo più ordinato, estrarre la quantità ordinata
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [45]:
# la più ordinata nella colonna choice_description
most_ordered_choiced = chipo.groupby('choice_description').sum()

In [47]:
most_ordered_choiced = most_ordered_choiced.sort_values(['quantity'], ascending=False)

In [49]:
most_ordered_choiced.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

In [50]:
# totale di tutte le cose che sono state ordinate
total_ordered = chipo.quantity.sum()

In [51]:
total_ordered

4972